@import url('https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Jost', sans-serif !important;
}

.login_page {
    background: linear-gradient(login_page);
    background-image: linear-gradient(180deg, #99d3ef, #d8eef9);
}

.container {
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

body {
    background-image: linear-gradient(180deg, #99d3ef, #d8eef9);
}